@font-face {
    font-family: "LXGW WenKai";
    src: local("LXGW WenKai") format("ttf"),
         url("/fonts/wenkai/LXGWWenKai-Regular.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "LXGW WenKai";
    src: local("LXGW WenKai Bold") format("ttf"),
         url("/fonts/wenkai/LXGWWenKai-Bold.woff2") format("woff2");
    font-weight: bold;
}

@font-face {
    font-family: "LXGW WenKai";
    src: local("LXGW WenKai Light") format("ttf"),
         url("/fonts/wenkai/LXGWWenKai-Light.woff2") format("woff2");
    font-weight: lighter;
}

code {
    color: #e83e8c;
}

.post-content {
    padding-left: 3%;
    padding-right: 3%;
}

