@font-face {
    font-family: "LXGW WenKai";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("LXGW WenKai"),
         url("/fonts/wenkai/LXGWWenKai-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "LXGW WenKai";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("LXGW WenKai Bold"),
         url("/fonts/wenkai/LXGWWenKai-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "LXGW WenKai";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("LXGW WenKai Light"),
         url("/fonts/wenkai/LXGWWenKai-Light.woff2") format("woff2");
}

code {
    color: #e83e8c;
}

.post-content {
    padding-left: 3%;
    padding-right: 3%;
}